<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to Cool Music</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mt-4">
      <h4>This a Angular project using the lastfm API</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste incidunt eum officia explicabo
        aspernatur modi quasi ipsam esse cumque minus amet quam natus, itaque ab odit reprehenderit id dolorem.
      </p>
    </div>
    <div class="col-md-4 mt-4">
      <h4>This project is just for fun and practice</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste incidunt eum officia explicabo
        aspernatur modi quasi ipsam esse cumque minus amet quam natus, itaque ab odit reprehenderit id dolorem.
      </p>
    </div>
    <div class="col-md-4 mt-4">

      <h4>Find more information at my github page</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste incidunt eum officia explicabo
        aspernatur modi quasi ipsam esse cumque minus amet quam natus, itaque ab odit reprehenderit id dolorem.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Libero id faucibus nisl tincidunt eget nullam non nisi est. Arcu dictum varius duis at
        consectetur lorem donec. Scelerisque eu ultrices vitae auctor eu augue. Cursus euismod quis viverra nibh cras
        pulvinar mattis nunc. Neque sodales ut etiam sit amet. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
        Dis parturient montes nascetur ridiculus mus mauris. Nullam vehicula ipsum a arcu cursus vitae. Lectus quam id
        leo in vitae turpis massa. Commodo ullamcorper a lacus vestibulum sed arcu. Sit amet volutpat consequat mauris
        nunc. Turpis egestas pretium aenean pharetra. Sollicitudin ac orci phasellus egestas tellus. Est pellentesque
        elit ullamcorper dignissim cras tincidunt. Libero id faucibus nisl tincidunt eget nullam non nisi est.
      </p>
      <p>
        A iaculis at erat pellentesque adipiscing commodo elit at. At auctor urna nunc id cursus metus aliquam eleifend
        mi. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Massa tincidunt dui ut ornare
        lectus sit amet est. Lorem ipsum dolor sit amet consectetur. Vitae ultricies leo integer malesuada nunc.
        Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat. Fermentum leo vel orci porta non
        pulvinar neque laoreet. Vestibulum rhoncus est pellentesque elit. Fames ac turpis egestas sed tempus. Neque
        ornare aenean euismod elementum nisi. Sagittis eu volutpat odio facilisis mauris.
      </p>
      <p>
        Morbi tincidunt ornare massa eget. Congue eu consequat ac felis donec et odio pellentesque. Venenatis a
        condimentum vitae sapien pellentesque. Quisque id diam vel quam elementum. Sem fringilla ut morbi tincidunt
        augue interdum velit. A lacus vestibulum sed arcu non. Purus in massa tempor nec feugiat nisl pretium. Viverra
        mauris in aliquam sem fringilla ut morbi tincidunt. Odio aenean sed adipiscing diam donec. Ut sem nulla
        pharetra diam sit amet nisl suscipit adipiscing.
      </p>
      <p>
        Dui accumsan sit amet nulla. Gravida rutrum quisque non tellus orci ac auctor augue. Eu mi bibendum neque
        egestas congue. Mattis enim ut tellus elementum sagittis vitae et leo duis. Ipsum dolor sit amet consectetur
        adipiscing. Ut etiam sit amet nisl purus in mollis nunc. Etiam tempor orci eu lobortis elementum. Lorem ipsum
        dolor sit amet. A diam sollicitudin tempor id eu. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
        Est velit egestas dui id ornare. Neque viverra justo nec ultrices dui. Lectus sit amet est placerat in egestas
        erat. Tellus mauris a diam maecenas sed enim ut. Ornare aenean euismod elementum nisi quis eleifend. Tincidunt
        praesent semper feugiat nibh sed pulvinar. Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Morbi
        blandit cursus risus at ultrices mi tempus imperdiet. Odio tempor orci dapibus ultrices in iaculis.
      </p>
      <p>
        Tortor id aliquet lectus proin. Dolor magna eget est lorem ipsum. Commodo nulla facilisi nullam vehicula ipsum
        a. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. Aliquet porttitor lacus luctus accumsan
        tortor posuere ac. Non odio euismod lacinia at quis risus sed vulputate odio. Tristique magna sit amet purus
        gravida. Suspendisse interdum consectetur libero id faucibus nisl. Nibh praesent tristique magna sit amet. Est
        pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Magnis dis parturient montes
        nascetur. Amet porttitor eget dolor morbi non arcu risus quis varius. Molestie at elementum eu facilisis sed
        odio morbi. Porttitor rhoncus dolor purus non. Consequat semper viverra nam libero. Aenean pharetra magna ac
        placerat vestibulum lectus mauris ultrices. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet.
        Scelerisque purus semper eget duis at.
      </p>
    </div>
  </div>

</div>
